.page-header {
    margin-top: 50px;
}

.ticketsleft {
    float: left;
}

.ticketsleft h3 {
    font-size: 6em;
    line-height: 1em;
}

.ticketsleft h3 small {
    vertical-align: middle;
}

.tickets {
    margin-top: 20px;
}

.supportinfo .text {
    margin-left: 110px;
}

.supportstatus {
    width: 90px;
    float: left;
    text-align: center;
}

.supportstatus img {
    padding-bottom: 4px;
}

#new-ticket-plugin-name {
    font-weight: bold;
}

.label a {
    text-decoration: none;
}

#new-grailsrocks-ticket-description {
    width: 80%;
}

#new-grailsrocks-ticket-subject {
    width: 80%;
}

.author-name {
    white-space: nowrap;
}

.author-panel {
    margin-bottom: 10px;
}

.author-panel .author-name {
    display: block;
    font-weight: bold;
}

.author-thumb {
    float: left;
    padding-top: 3px;
    margin-left: 20px;
    padding-right: 5px;
    min-height: 32px;
    width: 37px;
}