.page-header {
    margin-top: 50px;
}

.ticketsleft {
    float: left;
}

.ticketsleft h3 {
    font-size: 6em;
    line-height: 1em;
}

.ticketsleft h3 small {
    vertical-align: middle;
}

.tickets {
    margin-top: 20px;
}

.supportinfo .text {
    margin-left: 80px;
}

.supportstatus {
    width: 60px;
    float: left;
    text-align: center;
}

.supportstatus img {
    padding-bottom: 4px;
}

#new-ticket-plugin-name {
    font-weight: bold;
}

.label a {
    text-decoration: none;
}

#new-grailsrocks-ticket-description {
    width: 80%;
}

#new-grailsrocks-ticket-subject {
    width: 80%;
}
